body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pink-yuzu-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 75vw;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6.281vw;
}

.pink-yuzu-container .slide-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 6.281vw - 0.418vw);
    max-height: calc(75vw - 6.281vw - 0.418vw);
    overflow: hidden;
}

.pink-yuzu-container .slide-wrapper img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    max-width: 100vw;
    opacity: 0;
    transition: opacity .5s;
}

.pink-yuzu-container .slide-wrapper img.on {
    opacity: 1;
}

.pink-yuzu-container .crop-background {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0.418vw solid #F5A6BB;
    box-sizing: border-box;
}

.pink-yuzu-container .crop-background img {
    position: absolute;
    display: block;
    width: 120vw;
    top: -6.281vw;
    left: -6.281vw;
    transition: .1s;
}

.headline-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    max-height:75vw;
}

.headline-wrapper img {
    display: block;
    width: 100%;
}


footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 6.281vw;
    padding: 0 6.281vw;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}

footer img {
    display: block;
    width: 29.02vw;
}

.console {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    font-size: 10px;
}